/* debug */

:root{
    --bg-orange:#CD3D0F;
    --bg-new-exit-dark:#1F1F1F;
}

.nav_wrapper .logo_sony img {
    width: 5.25rem;
}

.search{
    height: 24px;
    color: black;
}

.menù_wrap_right{
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    border: none;
    content: 'f107';
}

li{
    text-decoration: none;
}

a{
    text-decoration: none;
}

.hero {
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    
}

.hero>.container{
    height: 600px;
}

.hero h3{
    font-size: 60px;
    
}


/* .buy{
    height:64px;
    width:170px;
    background-color:var(--bg-orange);
} */

.get_up{
    max-width: 400px;
}

.ret_logo {
    height: 70px;

}

.card>img{
    width: 100%%;
}

.play5{
    height: 12rem;
    width: 100%;
}

.play-card{
    width: 100%;
}

/* section take two */

.take_two{
    height: 600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;  
}

.takes_two>.container{
    height: 600px;
}

.take_two h3{
    font-size: 40px;
    max-width: 300px;
}

.take_logo{ 
    max-width: 300px;
}

.find_friend{
    max-width: 300px;
}

/* new exit */

.new_exit{
    height: 600px;
    background-color:var(--bg-new-exit-dark) ;
}

.new_exit>.container{
    height: 600px;
}

.crash-card{
    width: 100%;
}



