/* debug */
* {
    border: solid 1px red;

}

.nav_wrapper .logo_sony img {
    width: 5.25rem;
}

.search{
    height: 24px;
    color: black;
}

.menù_wrap_right{
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    border: none;
    content: 'f107';
}

li{
    text-decoration: none;
}

a{
    text-decoration: none;
}

.hero {
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    
}

.hero h3{
    font-size: 60px;
    
}

.returnal{
    bottom: 20px;
    left: 15px;
    padding-right: 1rem;
}

.buy{
    height:64px;
    width:170px;
    border-radius: 20%;
    background-color: #CD3D0F;
    color: white;
    border: none;
}

.get_up{
    max-width: 400px;
}

.ret_logo {
    height: 70px;
    width: 576px;
}

.card img{
    width: 90%;
}